body {
  background-color: #0a0a0a;
  font-family: 'Orbitron', sans-serif;
  color: #00ffcc;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;
}

h1 {
  font-size: 2rem;
  color: #00ffcc;
  text-shadow: 0 0 10px #00ffcc, 0 0 20px #00ffcc;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

button {
  background-color: #222;
  border: none;
  padding: 20px;
  font-size: 1.5rem;
  color: #00ffcc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 255, 204, 0.7), 0 0 20px rgba(0, 255, 204, 0.5);
  transition: 0.2s ease-in-out;
  cursor: pointer;
  outline: none;
}


button:hover {
  box-shadow: 0 0 20px rgba(0, 255, 204, 1), 0 0 30px rgba(0, 255, 204, 0.7);
  transform: scale(1.05);
}

button:active {
  transform: scale(0.95);
  box-shadow: 0 0 5px #00ffcc;
}

.card {
  background-color: #111;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 20px rgba(0, 255, 204, 0.3);
  color: #00ffcc;
}

.input h2, .result h2 {
  margin: 0;
  font-size: 2rem;
  text-align: right;
}

.result h2 {
  font-size: 1.5rem;
  color: #ff00ff;
  text-shadow: 0 0 10px #ff00ff;
}

button#c {
  background-color: #ff0066;
  color: white;
  box-shadow: 0 0 10px #ff0066;
}

button#c:hover {
  box-shadow: 0 0 20px #ff0066;
}

button[id="="] {
  grid-row: span 2;
  background-color: #00cc66;
  color: white;
  box-shadow: 0 0 10px #00cc66;
}

button[id="="]:hover {
  box-shadow: 0 0 20px #00cc66;
}


@media (max-width: 768px) {
  .container {
      max-width: 90%; 
  }

  h1 {
      font-size: 1.5rem;
  }

  button {
      padding: 15px;
      font-size: 1.25rem;
  }

  .input h2, .result h2 {
      font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .container {
      max-width: 100%;
  }

  h1 {
      font-size: 1.25rem;
  }

  button {
      padding: 10px;
      font-size: 1rem;
  }

  .input h2, .result h2 {
      font-size: 1.25rem;
  }
}

button[id="c"] {
  background-color: #ff0066;
  color: white;
  box-shadow: 0 0 10px #ff0066;
}

button[id="c"]:hover {
  box-shadow: 0 0 20px #ff0066;
}
